<div>
	<h1><%= @post.title %></h1>
</div>
<div>
	<em>Created <%= @post.created_at %></em>
</div>
<div>
	<p>
		<%= @post.body %>
	</p>
</div>
</br>
<div>
	<div><a href="/">Back to List of Posts</a></div>
</div>
